#!/bin/bash

# Activate the virtual environment
source {{ remote_apps_env }}/bin/activate

exec {{ remote_apps_env }}/bin/celery beat \
  --app={{celery_app_name}} \
  --scheduler=django \
  --loglevel=debug \
  --pidfile={{ remote_apps_var_run }}/celerybeat.pid
